################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

WebContent/abc/abc.css
WebContent/blog/_resources/blog.css
WebContent/buildmaster/case-studies/buildmaster-case-studies.css
WebContent/buildmaster/case-studies/case-study-main.css
WebContent/buildmaster/landing/ci-cd-buildmaster-a/styles.css
WebContent/buildmaster/landing/ci-cd-buildmaster-b/styles.css
WebContent/buildmaster/landing/ci-cd-buildmaster-c/styles.css
WebContent/buildmaster/landing/ci-cd-buildmaster-d/styles.css
WebContent/buildmaster/landing/deploy-prod/deploy.css
WebContent/buildmaster/landing/deployments/deployments.css
WebContent/buildmaster/landing/productivity/productivity.css
WebContent/buildmaster/pricing/bm-pricing.css
WebContent/buildmaster/roadmap/roadmap.css
WebContent/case-studies/case-study-pages.css
WebContent/company/career-culture/career-culture.css
WebContent/company/career-culture/job-posting.css
WebContent/company/ceo/ceo.css
WebContent/company/cool-stuff/cool-stuff.css
WebContent/company/media/media.css
WebContent/company/scotch/scotch.css
WebContent/company/about.css
WebContent/company/company.css
WebContent/den/all-items.css
WebContent/den/den.css
WebContent/den/extension-test.css
WebContent/events/events.css
WebContent/feature-landing/feature-landing-next-gen.css
WebContent/feature-landing/feature-landing.css
WebContent/hedgehog/pricing/hh-pricing.css
WebContent/homepage/home.css
WebContent/homepage/home2.css
WebContent/homepage/inedo-jp.css
WebContent/jp/styles/styles-main.css
WebContent/jp/japan.css
WebContent/my/den.css
WebContent/nuget/nuget-training.css
WebContent/offset/styles/library.css
WebContent/offset/styles/main.css
WebContent/offset/styles/offset.css
WebContent/open/initiative.css
WebContent/otter/case-studies/case-study-main.css
WebContent/otter/case-studies/otter-case-studies.css
WebContent/otter/pricing/otter-pricing.css
WebContent/otter/roadmap/roadmap.css
WebContent/products/roadmap/history.css
WebContent/products/roadmap/roadmap.css
WebContent/products/details.css
WebContent/products/products.css
WebContent/professional-services/services.css
WebContent/proget/case-studies/case-study-main.css
WebContent/proget/case-studies/proget-case-studies.css
WebContent/proget/pricing/proget-pricing.css
WebContent/proget/roadmap/roadmap.css
WebContent/release/library.css
WebContent/release/styles.css
WebContent/resources/styles/controls.css
WebContent/resources/styles/features-new.css
WebContent/resources/styles/features.css
WebContent/resources/styles/general-landing-page.css
WebContent/resources/styles/individual-case-studies.css
WebContent/resources/styles/library.css
WebContent/resources/styles/otterdoc.css
WebContent/resources/styles/pricing.css
WebContent/resources/styles/product-overview.css
WebContent/resources/styles/product-page.css
WebContent/resources/styles/product-pages-2018.css
WebContent/resources/styles/product-templates.css
WebContent/resources/styles/reset.css
WebContent/resources/styles/solutions.css
WebContent/resources/styles/styles-noncanonical.css
WebContent/resources/styles/styles.css
WebContent/resources/styles/tools-overview.css
WebContent/resources/styles/training-pages.css
WebContent/resources/styles/training-template.css
WebContent/resources/styles/tutorials.css
WebContent/resources/styles/zig-zag.css
WebContent/solutions/devops/devops.css
WebContent/solutions/release-deployment/release-deployment.css
WebContent/solutions/security-compliance/security-compliance.css
WebContent/support/documentation/_resources/documentation-landing.css
WebContent/support/documentation/_resources/documentation.css
WebContent/support/documentation/_resources/documentation2.css
WebContent/support/tutorials/_resources/tutorial.css
WebContent/support/whitepapers/ci-cd-buildmaster/styles.css
WebContent/support/whitepapers/ci-cd-infrastructure-config-mgmt/styling.css
WebContent/support/product-tutorial.css
WebContent/support/support.css
WebContent/support/tutorial-main.css
WebContent/training/events/register-to-watch.css
WebContent/training/events/seminar-styling.css
WebContent/training/course-objectives.css
WebContent/training/devops.css
WebContent/training/training-home.css
WebContent/training/training.css
WebContent/our-users/profile.css
WebContent/our-users/users.css
WebContent/webinars/webinar-featured-pages.css
WebContent/webinars/webinars-single-pages.css
WebContent/training/videos/video-single-pages.css
WebContent/support/community.css
WebContent/training/videos/videos.css
WebContent/promos/free-tdwtf-mug-day-2019/mug.css
WebContent/resources/styles/homepage.css
WebContent/resources/styles/features-2019.css
WebContent/support/resources/resources.css
WebContent/support/resources/ebooks/ebook-gated-pages.css
WebContent/download/download.css
