.content-container#main-overview-content {
  padding-top: 0;
}
a.download {
  background-color: none;
  padding: 8px 16px;
  color: #282b3a;
  border: 3px solid #282b3a;
  border-radius: 100px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 800;
  font-size: 12px;
  letter-spacing: 1px;
}
a.download:hover {
  background-color: #282b3a;
  color: #ffffff;
}
h1 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}
.tool-header .tool-announcement {
  background-color: #282b3a;
  display: inline-block;
  margin-top: 20px;
  width: 970px;
  margin-left: 15px;
}
.tool-header .tool-announcement p {
  padding: 6px 30px;
  color: #ffffff;
}
.tool-header .tool-announcement p a {
  color: #3FA9F5;
}
.tool-header .tool-announcement p a:hover {
  color: #ffffff;
}
.tool-header h2 {
  margin: 46px 0;
  font-size: 24px;
}
.body-copy h2 {
  margin: 50px 90px;
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  line-height: 32px;
}
.color-box {
  margin-top: 20px;
  background-color: #f0f0f2;
  padding: 16px 0;
}
.value a.value-icons {
  text-decoration: none;
  width: 300px;
  float: left;
  height: 370px;
  margin: 20px 16px 0 16px;
  text-align: center;
}
.value a.value-icons h4 {
  font-size: 19px;
  margin-top: 15px;
}
.value a.value-icons img {
  margin-top: 25px;
  width: 125px;
  height: 125px;
}
.value a.value-icons p {
  font-size: 90%;
  font-weight: 500;
  margin: 20px;
}
.value a.value-icons.pack {
  height: 210px;
  margin: 40px 16px;
}
.value a.value-icons.pack h4 {
  font-size: 21px;
}
.value a.value-icons.bm {
  height: 300px;
}
.value a.value-icons.romp {
  height: 340px;
  margin-bottom: 50px;
}
.value a.value-icons.otter {
  height: 408px;
}
.value a.value-icons:hover {
  box-shadow: 1px 1px 4px #282b3a;
}
.value a.value-icons:hover p {
  color: #002b54;
}
.specifications p {
  font-size: 19px;
}
.specifications .does {
  margin: 36px 0 40px 0;
}
.specifications .does .text-info {
  height: 82px;
  display: inline-block;
  width: 770px;
  margin-left: 15px;
  padding-top: 30px;
  padding-left: 0px;
}
.specifications .does .text-info h4 {
  margin-top: 0;
  padding-bottom: 20px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}
.specifications .does .logo {
  display: inline-block;
  vertical-align: top;
  width: 210px;
}
.specifications .does .logo h3 {
  font-size: 20px;
  font-weight: 600;
  color: #48729d;
  text-align: right;
  line-height: 30px;
}
.specifications .does .logo h3 a {
  color: #48729d;
}
.specifications .does .logo h3 a:hover {
  color: #282b3a;
}
.features {
  margin: 50px 0 50px 0;
}
.features .text-info {
  display: inline-block;
  width: 740px;
  margin-left: 54px;
}
.features .icon {
  display: inline-block;
  width: 200px;
}
.toolchain {
  margin-top: 35px;
  display: inline-block;
}
.toolchain h2 {
  margin-top: 50px;
  font-size: 24px;
}
.quotes {
  margin: 70px 0;
}
.quotes p {
  padding: 0 70px;
  font-size: 20px;
  font-weight: 700;
  line-height: 32px;
}
.quotes p.title {
  font-weight: 400;
  font-size: 16px;
}
.quotes img {
  padding-left: 70px;
  height: 40px;
}
.quotes .left-quote {
  display: inline-block;
  width: 496px;
  background-color: #f0f0f2;
  padding: 74px 0;
}
.quotes .right-quote {
  display: inline-block;
  width: 495px;
  padding: 70px 0;
  border: 4px solid #f0f0f2;
  border-left: none;
}
.image-banner {
  margin: 20px auto 40px auto;
  display: inline-block;
}
.image-banner img {
  width: 246px;
}
.image-banner .circle-button {
  text-align: center;
  margin-top: 40px;
}
.image-banner .circle-button a {
  font-size: 16px;
}
.case-study-box {
  float: left;
  width: 988px;
  height: 250px;
  margin: 30px 6px;
  border-bottom: 1px solid #e9eada;
  border-top: 1px solid #e9eada;
  background-color: #f6f6f6;
  text-align: left;
}
.case-study-box h2 {
  color: #282b3a;
  font-size: 150%;
  padding: 0 20px 10px 350px;
  line-height: 150%;
}
.case-study-box h4 {
  position: absolute;
  text-align: left;
  margin: 185px 15px 15px 0;
  z-index: 1;
  color: #282b3a;
  font-size: 92%;
  padding: 5px 40px 30px 350px;
}
.case-study-box p {
  color: #282b3a;
  padding: 0 20px 30px 350px;
  line-height: 150%;
  margin-top: 0;
}
.case-study-box .experience-level img {
  max-height: 190px;
  max-width: 290px;
  position: absolute;
  margin: 30px 0 0 30px;
  border: 1px solid #353535;
  background-color: #ffffff;
}
.case-study-box:hover {
  background-color: #e9eada;
}
.feat-info {
  margin-top: 30px;
}
.feat-info h2 {
  text-align: center;
  color: #353535;
  padding: 60px 60px 0 60px;
}
.feat-info h4 {
  text-align: center;
  padding: 5px 60px 20px 60px;
}
.feat-info .button-set {
  margin: 20px 0 60px 0;
}
.feat-info .button-set .button {
  padding: 16px 0;
  background-color: #282b3a;
}
.feat-info .button-set .button a {
  color: #ffffff;
  text-decoration: none;
  padding: 16px 50px;
}
.learning-section .card {
  width: 200px;
  background-color: #48729d;
  float: left;
  height: 250px;
  margin: 40px 25px 80px 25px;
  text-align: center;
  border-radius: 18px;
  box-shadow: 1px 1px 4px #282b3a;
}
.learning-section .card p {
  font-size: 130%;
  font-weight: bolder;
  margin-top: 0;
}
.learning-section .card p a {
  padding: 180px 50px 40px 50px;
  text-decoration: none;
  color: #ffffff;
}
.learning-section .card:hover {
  box-shadow: 2px 2px 6px #282b3a;
}
.resources a.res {
  background-color: #48729d;
  text-decoration: none;
  width: 300px;
  float: left;
  height: 250px;
  margin: 40px 16px 80px 16px;
  text-align: center;
  border-radius: 18px;
  box-shadow: 1px 1px 4px #282b3a;
}
.resources a.res h4 {
  font-size: 19px;
  margin-top: 0;
  color: #ffffff;
}
.resources a.res:hover {
  box-shadow: 2px 2px 6px #282b3a;
}
.flow {
  margin-bottom: 50px;
}
.flow .circle-button.left {
  float: left;
}
.flow .circle-button.left p {
  margin-left: 4px;
}
.flow .circle-button.right {
  float: right;
}
.flow .circle-button.right p {
  text-align: right;
  margin-right: 4px;
}
.content-container#newsletter .content {
  background-color: #e4e4e4;
  margin-top: 30px;
}
.content-container#newsletter .content h2 {
  color: #ffffff;
  text-align: center;
  padding-top: 40px;
  color: #444444;
}
.content-container#newsletter .content label,
.content-container#newsletter .content select {
  margin-left: 50px;
}
.content-container#newsletter .content input[type=text],
.content-container#newsletter .content select {
  width: 856px;
  padding: 10px;
  margin: 8px 50px;
  border: 1px solid #ccc;
}
.content-container#newsletter .content input[type=button] {
  width: 880px;
  background-color: #f6f6f6;
  color: black;
  padding: 14px 20px;
  margin: 20px 50px 50px 50px;
  border: none;
  cursor: pointer;
}
.content-container#newsletter .content input[type=button]:hover {
  background-color: #1e89d5;
  color: white;
}
.content-container#newsletter .content .ahvalidator.error input[type=text],
.content-container#newsletter .content .ahvalidator.error select {
  background-color: #fcc;
}
.content-container#newsletter .content .ahvalidator.error .message {
  display: none;
}
@font-face {
  font-family: "yu gothic";
  font-style: normal;
  font-weight: 400;
  src: local(yugothic), url(/jp/fonts/yugothic.ttf) format("truetype");
}
@font-face {
  font-family: "yu gothic";
  font-style: normal;
  font-weight: 700;
  src: local(yugothic bold), url(/jp/fonts/yugothib.ttf) format("truetype");
}
@font-face {
  font-family: "yu gothic";
  font-style: normal;
  font-weight: 300;
  src: local(yugothic light), url(/jp/fonts/yugothil.ttf) format("truetype");
}

