<?xml version="1.0" encoding="utf-8"?>
<extensionAdditionalInfo>
  <info><![CDATA[
  <p>This extension contains a unit test action for running PHPUnit unit tests.</p>
  ]]></info>
  <actionInfo id="Inedo.BuildMasterExtensions.PHPUnit.PhpUnitTestAction" name="Execute PHPUnit Tests" summary="Runs PHPUnit tests on the specified test, test file, or all tests in the specified directory."><![CDATA[
  <h3>Action Fields</h3>
  <h4>Test to Run</h4>
  <p>The name of the test or test file to run. Leave this field blank to run all tests in the directory.</p>
  <h4>Additional Arguments</h4>
  <p>Any additional arguments that will be supplied to the PHPUnit script.</p>
  <h4>Group Name</h4>
  <p>The group name allows you to easily identify the unit test if you would like to split tests into different groups.</p>
  ]]></actionInfo>
</extensionAdditionalInfo>